h1{

	text-align: center;
	font-family: sans-serif;
	margin-bottom: 30px;
	color: #ffdd51;
}

.center{
display: block;
	margin-left: auto;
	margin-right: auto;
}
body{
	background-color: purple;
}

p{
	color: aqua;
}
#image{

	height: 250px;
	width: 250px;
}

div{
	margin-top: 30px;
	width: 360px;
	text-align: left;
}
